# dependencies
/node_modules
/worker/node_modules

# worker
/worker/.wrangler

# env files
.env*
!.env.local.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
